asgiref==3.5.2
Babel==2.10.3
Django==4.0.5
django-countries==7.3.2
django-extensions==3.1.5
django-money==3.0.0
djangorestframework==3.13.1
graphviz==0.20
instance==0.0.0.0.0.0a0.dev20210120
Jinja2==3.1.2
MarkupSafe==2.1.1
psycopg2-binary==2.9.3
py-moneyed==2.0
pydot==1.4.2
pyparsing==3.0.9
python-dotenv==0.20.0
pytz==2022.1
sqlparse==0.4.2
transmission==1.4.1
typing_extensions==4.2.0
